<div class="container mt-5">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Title : {{d.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Episode : {{d.episode}}</h6>
        <p class="card-text">{{d.opening_crawl}}</p>
      </div>
    </div>
  </div>
</div>
