<div class="container">
  <div class="title mt-3">
    <h2 align="center">STARWARS MOVIE LIST</h2>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let film of films">
      <div class="movie-card">
        <div class="movie-content">
          <div class="movie-content-header mb-3">
            <a href="#">
              <h3 class="movie-title">{{film.title}}</h3>
            </a>
          </div>
          <hr>
          <div class="movie-info">
            <div class="info-section">
              <label>Release Date</label>
              <span>{{film.release_date}}</span>
            </div>
            <div class="info-section">
              <label>Episode</label>
              <span>{{film.episode_id}}</span>
            </div>
          </div>
          <div class="movie-info">
            <div class="info-section person-section">
              <label>Director</label>
              <span>{{film.director}}</span>
            </div>
          </div>
          <div class="movie-info">
            <div class="info-section person-section">
              <label>Producer</label>
              <span>{{film.producer}}</span>
            </div>
          </div>
          <div class="see-more">
            <a role="button" class="btn btn-primary" [href]="'/film/'+film.id">See More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
