<div class="container">
  <div class="title mt-3">
    <h2 align="center">STARWARS MOVIE CAST LIST</h2>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let film of peoples">
      <div class="movie-card">
        <div class="movie-content">
          <div class="movie-content-header mb-3">
            <a href="#">
              <h3 class="movie-title">{{film.name}}</h3>
            </a>
          </div>
          <hr>
          <div class="movie-info">
            <div class="info-section">
              <label>Birth Year</label>
              <span>{{film.birth_year}}</span>
            </div>
            <div class="info-section">
              <label>Gender</label>
              <span>{{film.gender}}</span>
            </div>
          </div>
          <div class="movie-info">
            <div class="info-section">
              <label>Height</label>
              <span>{{film.height}}</span>
            </div>
            <div class="info-section">
              <label>Mass</label>
              <span>{{film.mass}}</span>
            </div>
          </div>
          <div class="see-more">
            <button type="button" class="btn btn-primary">See More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
